<div class="row">
  <div class="small-12 column">
    <h1>Hello World!</h1>
    <h3>I am currently running:</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>Foundation Framework</li>
      <li>Sass</li>
      <li>sqlite3</li>
      <li>jQuery</li>
      <li>Turbo Links</li>
    </ul>
  </div>
</div>
