/* ---- isotope ---- */
.grid {
/*  margin-top: 2em;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
/*  height: 300px;*/
  width: 33.333%;
}

.grid-item {
  float: left;
  width: 33.333%;
  height: 20em;
  overflow: hidden;
}

.grid-item img {
  display: block;
  margin: 0 auto;
  height: 10em;
  width: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: all 500ms ease;
}

@media only screen and (max-width: 64em) {
  .grid-sizer,
  .grid-item {
    width: 50%; // makes masonry stack
  }
}

@media only screen and (max-width: 64em) {
  .grid-sizer,
  .grid-item {
    width: 50%; // makes masonry stack
  }
}

@media only screen and (max-width: 40em) {
  .grid-sizer,
  .grid-item {
    width: 100%; // makes masonry stack
  }
}
