// variables file
// 
// @import 'bourbon';

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,200,100,300,500');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600');

$blue: #B2DCE5;
$card-border-radius: .75em;
$background: #EDF7FA;
$font: Work Sans;
/*$main: #2196F3;*/
$main: #80CBC4;
$second: #009688;
$dark: #212121;
